@import "../config.scss";
@import "../media.scss";

.team {
    margin-top: 40px;

    &__descr {
        margin-top: 40px;
        font-size: 16px;
        width: 55%;
        @include max1050 {
            width: 70%;
        }
        @include max576 {
            width: 100%;
        }
    }

    &__block {
        margin-top: 80px;
    }

    &__members {
        margin-top: 57px;
    }
    // &__members-row {
    //     display: flex;
    //     justify-content: space-between;
    //     margin-bottom: 20px;
    //     &:last-child {
    //         margin-bottom: 0px;
    //     }

    //     @include max1050 {
    //         flex-wrap: wrap;
    //     }
    // }

    &__text {
        margin-top: 80px;
        h2 {
            margin-bottom: 30px;
        }
        p {
            margin-bottom: 22px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @include max576 {
            margin-top: 40px;
        }
    }
}

.tabs {
    &__tab {
        &:nth-child(1),
        &:nth-child(2) {
            min-width: unset;
        }
        &:nth-child(1) {
            @include max576 {
                min-width: 80px;
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

.vacancies {
    margin-top: 80px;
    @include max576 {
        margin-top: 60px;
    }
    &__accordion {
        margin-top: 60px;
    }
    &__btn {
        width: 181px;
        margin-top: 40px;
    }
}

.accordion {
    &__content {
        font-weight: 300;
        font-size: 16px;
        line-height: 130%;
        color: #000;
        ul {
            margin: 30px 0;
        }
        li {
            list-style: inside;
            margin-left: 8px;
            font-weight: 300;
            font-size: 16px;
            line-height: 130%;
        }
    }
}
